html, body {
    margin: 0;
    padding: 0;
    overflow: hidden
}

#console {
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    height: 400px;
    overflow: auto;
    background: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #DDD inset;
    color: #666;
    padding: 5px 10px;
    outline: none;
}

#debug {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    width: 10px;
    height: 15px;
}

form input[type=text] {
    background: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #DDD inset;
    color: #666;
    float: left;
    padding: 5px 10px;
    outline: none;
    width: 330px;
}

#modal {
    background:#fff;
    right:5%;
    margin-top:-250px;
    position:absolute;
    top:-80%;
    width:450px;
    border-radius:5px;
    box-shadow:0 3px 7px rgba(0,0,0,.25);
    -moz-box-shadow:0 3px 7px rgba(0,0,0,.25);
    -webkit-box-shadow:0 3px 7px rgba(0,0,0,.25);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

/* Make the modal appear when targeted */
#modal:target {
    top:45%;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

#modal header,#modal footer {
    background:#c0c0c0;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}

#modal section,#modal header, #modal footer {
    padding:15px;
    z-index:200;
}

#modal h1 {
    margin:0;
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    text-align: center;
    display: block;
    background: #111;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    padding: 0.5em 1em;
}

.btn:visited {
  color: #fff;
}

.btn:hover {
  background: #3db3e5;
}

.inline {
    display: inline;
    border-style: none;
}


svg.line-graph text {
	cursor: default;
}

svg.line-graph .hover-line {
	stroke: #6E7B8B;
}

svg.line-graph .hide {
	opacity: 0;
}

svg.line-graph .axis {
  shape-rendering: crispEdges;
}

svg.line-graph .x.axis line {
  stroke: #D3D3D3;
}

svg.line-graph .x.axis .minor {
  stroke-opacity: .5;
}

svg.line-graph .x.axis path {
  display: none;
}

svg.line-graph .x.axis text {
	font-size: 10px;
}

svg.line-graph .y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

svg.line-graph .y.axis text {
	font-size: 12px;
}

svg.line-graph .scale-button:not(.selected):hover {
	text-decoration: underline;
	cursor: pointer !important;
}

svg.line-graph .date-label {
	fill: #6E7B8B;
}
